#intro {
    height: calc(100vh-5rem);
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bg{
    top: 2rem;
    right: 0;
    object-fit: cover;
    height: 94vh;
    
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: rgb(117, 184, 202);
}

.introPara {
    font-size: medium;
    font-weight: 100;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bg {
        top: 0; 
        width: 100vw; 
        height: 80vh; 
        z-index: -1;
        position: absolute;
    }
    
    .hello {
        color: rgb(94, 190, 217);
        font-size: 4.5vw;
    }
    
    .introName {
        color: rgb(212, 228, 239);
    }
    
    .introPara {
        color: rgb(94, 190, 217);
    }

    .introContent{
        color: rgb(94, 190, 217);
        font-size: 10vw;
    }
}